body {
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 98vw;
}

#passphrase {
  color: lightgray;
  font-size: 4em;
  user-select: all;
}

#words {
  display: none;
}
